.container {
  position: fixed;
  // background-color: #F5F5F5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 25%);
  width: 420px;
  right: 32px;
  padding: 8px;
  bottom: 64px;
  //opacity: 0;
  transition: transform .3s, opacity .3s;

  .file {
    position: relative;
    height: 60px;
    &.visible {
      transform: translateY(0);
      opacity: 1;
    }

    .title {
      float: left;
      width: 300px;
      margin-left: 64px;
      font-size: 17px;
      color: black;
    }

    .currentFile {
      float: left;
      margin-left: 64px;
      color: #555555;
      font-size: 14px;
    }

    .fileIcon {
      position: absolute;
      left: 10px;
      top: 4px;
      width: 44px;
      height: 46px;
      background-color: #C4C4C4;
    }

    .percentage {
      position: absolute;
      color: #3E3E3E;
      top: 12px;
      right: 16px;
      font-size: 24px;
    }

    .progressBarContainer {
      float: left;
      margin-left: 64px;

      .progressBarBackground {
        position: relative;
        display: block;
        width: 348px;
        margin: 4px 0;
        height: 4px;
        background-color: #C4C4C4;
      }

      .progressBar {
        background-color: #5785FB;
        display: block;
        width: 0;
        height: 4px;
        margin: 0;
        transition: width .3s;
      }
    }
  }
}